@charset "utf-8";
@import "./utills.scss";

.accordionBox {
    padding: rem(53px) rem(40px);
    &.open {
        background: $background_color;
        .tit {
            .btnArrow {
                transform: rotate(0);
            }
        }
    }

    .tit {
        position: relative;
        .icon {
            margin-right: rem(5px);
            font-weight: bold;
            font-size: rem(30px);
            color: $color_red;
        }
        .btnArrow {
            right: 0;
            width: rem(22px);
            height: rem(13px);
			transition: 0.3s ease all;
			transform: rotate(180deg);
			img{
				width: 100%;
			}
        }
    }

    .descBox {
        overflow: hidden;
        transition: 0.3s ease all;
        &.close {
            opacity: 0;
            height: 0;
        }
        &.open {
            opacity: 1;
            height: auto;
            padding-top: rem(75px);
        }
    }
}