@charset "utf-8";
@import "./utills.scss";


.uiTextarea.field{position: relative;}
.uiTextarea.field.isByte{padding-bottom: rem(40px);}
.uiTextarea.field .lb{position: absolute; width: 0; height: 0; font-size: 0; visibility: hidden; left: -999em; top: -999em;}
.uiTextarea.field .ip{display: block; position: relative; text-align: left; border: 1px solid #a4a4a4; border-radius: rem(15px); font-size: 0; overflow: hidden;}
.uiTextarea.field .ip textarea{width: 100%; height: 100%; border: none; resize: none; padding: 10px; outline: none; font-size: rem(28px); min-height: rem(350px);}
.uiTextarea.field .ip textarea:focus{outline: none;}
.uiTextarea.field .ip textarea::placeholder{color: $color_gray5; font-size: rem(28px);}
.uiTextarea.field .ip.focus{border-color: $color_red;}
.uiTextarea.field .byte{position: absolute; right: 0; bottom: 0; font-size: rem(25px); line-height: rem(40px); color: $color_gray5; text-align: right;}

.uiTextarea.field .errMsg, .uiTextarea.field .sucMsg{line-height: rem(33px); font-size: rem(23px); position: absolute; left: 0; top: 100%; padding-left: rem(33px); font-weight: normal; padding-top: rem(5px); padding-bottom: rem(5px);}
.uiTextarea.field .errMsg{color: $color_red;}
.uiTextarea.field .sucMsg{color: $color_black2;}
.uiTextarea.field .errMsg img, .uiTextarea.field .sucMsg img{width: rem(21px); position: absolute; left: 0; top: 50%; transform: translateY(-50%);}