@charset "utf-8";
@import "./utills.scss";


.toast{position: fixed; left: 0; top: 0; bottom: 0; z-index: 9999; width: 100%;}
.toast .toastBox{position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%); padding: rem(80px) rem(30px); font-size: rem(30px); min-width: rem(650px); border-radius: rem(10px); background: #fff; color: #000; text-align: center; font-weight: bold;}
.toast .dimm{position: fixed; left: 0; top: 0; bottom: 0; background: #000; opacity: .85; width: 100%; }

.couponToast {position: absolute; left: 50%; top: 50%; width: 100%; font-size: rem(35px); color: $color_black2; line-height: rem; transform: translate(-50%, -50%);}
.couponToast>div:first-child {font-weight: normal;}