@charset "utf-8";
@import "./utills.scss";

$tooltip_black : #413c3c;
$tooltip_black2 : #323235;

.tooltipWrap {
    position: absolute;
    width: rem(365px);
    height: rem(97px);

    .tooltip {
        width: 100%;
        height: 100%;
        padding: rem(7px) rem(10px);
        border: 1px solid $tooltip_black2;
        background: $color_white;
    
        &.active {
            display: block;
        }
        &.hide {
            display: none;
        }
    
        .title {
            font-size: rem(20px);
            color: $tooltip_black;
        }
        .message {
            font-size: rem(18px);
            color: $color_gray5;
            line-height: rem(25px);
        }
    }

    .btnClose {
        position: absolute;
        left: auto;
        right: rem(8px);
        top: rem(8px);
        bottom: auto;
        width: rem(12px);
        height: rem(12px);
        border: none;
		img{
			width: 100%;
		}
    }
}

