@charset "utf-8";

.pedWrap {padding:0 0 235px 0; }
.pedWrap .in{width:1196px; margin:0 auto;}
.section {position: relative; z-index: 10;}
.pedWrap .section.sec01 .in {padding-left:318px; padding-bottom:305px;}
.pedWrap .section.sec01 .tit {padding:360px 0 95px 0; position: relative; overflow:hidden;}
.pedWrap .section.sec01 .tit span {display: block; transition:1s all; transition-delay:500ms; transform:translate(-100%,0);}
.pedWrap .section.sec01 .text {overflow:hidden;}
.pedWrap .section.sec01 .text div { transition:1s all; transition-delay:1200ms; transform:translate(0,100%);}


.pedWrap .section.sec01.active .tit span {transform:translate(0,0);}
.pedWrap .section.sec01.active .text div {transform:translate(0,0);}
	
	
.pedWrap .section.sec02 .in {position: relative; height: 790px;}
.pedWrap .section.sec02 .in ul li {position: absolute; overflow:hidden;}
.pedWrap .section.sec02 .in ul li.no1 {left:0; top:0; }
.pedWrap .section.sec02 .in ul li.no2 {left:440px; top:285px; }
.pedWrap .section.sec02 .in ul li.no3 {left:878px; top:285px; }
.pedWrap .section.sec02 .in ul li span {display: block; transition:1s all;  transform:translate(-100%,0);}
.pedWrap .section.sec02 .in ul li.no2 span {transition-delay:200ms;}
.pedWrap .section.sec02 .in ul li.no3 span {transition-delay:400ms;}
.pedWrap .section.sec02.active .in ul li span {transform:translate(0,0);}

.pedWrap .section.sec03 .in {padding-bottom:230px;}
.pedWrap .section.sec03 .in ul:after {content:''; display: block; clear:both;}
.pedWrap .section.sec03 .in ul li {float:left; margin-left:120px;  transition:1s all;  transform:translate(0,100px); opacity:0;}
.pedWrap .section.sec03 .in ul li:first-child {margin-left: 0;}

.pedWrap .section.sec03.active .in ul li.no2 {transition-delay:200ms;}
.pedWrap .section.sec03.active .in ul li.no3 {transition-delay:400ms;}
.pedWrap .section.sec03.active .in ul li {transform:translate(0,0); opacity:1;}

.pedWrap .section.sec04 .in  {margin-bottom:248px;}
.pedWrap .section.sec04 .in .tit {margin-bottom:120px; height:465px; overflow:hidden;}
.pedWrap .section.sec04 .in .tit:after {content:''; display: block; clear:both;}
.pedWrap .section.sec04 .in .tit .line {margin-bottom:40px; float:right; width:880px;text-align: right; overflow:hidden;}
.pedWrap .section.sec04 .in .tit .line:last-child {margin-bottom: 0;}
.pedWrap .section.sec04 .in .tit .line span {height:128px; position: relative; transition:1s all; display: inline-block;  }
.pedWrap .section.sec04 .in .tit .line:nth-child(1) span { transform:translate(100%,0); }
.pedWrap .section.sec04 .in .tit .line:nth-child(2) span { transform:translate(-100%,0); transition-delay:200ms; }
.pedWrap .section.sec04 .in .tit .line:nth-child(3) span { transform:translate(100%,0); transition-delay:400ms;  }
.pedWrap .section.sec04 .in .topCount:after {content:''; display: block; clear:both;}
.pedWrap .section.sec04 .in .topCount .numBox {float:left; width:318px; position: relative; text-align: center; transition:1s all; opacity:0;}
.pedWrap .section.sec04 .in .topCount .numBox .num {position: relative;height:249px; margin-bottom:20px; overflow:hidden}
.pedWrap .section.sec04 .in .topCount .numBox .num span {position: absolute; left:0;top:0; width:3308px; transition:2s all; transform:translate(72px,0);}
.pedWrap .section.sec04 .in .topCount .numBox .text {text-align: center; font-size:20px; line-height:20px; color:#fff;}
.pedWrap .section.sec04 .in .topCount .textWrap {float:left; overflow:hidden;}
.pedWrap .section.sec04 .in .topCount .textWrap .tit01 {transition:1s all;  transform:translate(-100%,0);}

.pedWrap .section.sec04.active .in .tit .line span {transform:translate(0,0); }
.pedWrap .section.sec04.active .in .textWrap .tit01 {transform:translate(0,0); transition-delay:400ms;}
.pedWrap .section.sec04.active .in .numBox {opacity:1;}
.pedWrap .section.sec04.active .in .numBox .num span {transform:translate(-2335px,0); transition-delay:1000ms; }

.pedWrap .section.sec05 .in .faqList:after {content:''; display: block; clear:both;}
.pedWrap .section.sec05 .in .faqList ul{width: 877px; float:right; padding-right: 2px; transition:1s all;  transform:translate(0,150px); opacity:0; }
.pedWrap .section.sec05 .in .faqList ul li {margin-bottom:50px; }
.pedWrap .section.sec05 .in .faqList ul li .title{cursor:pointer; position: relative; }
.pedWrap .section.sec05 .in .faqList ul li .answer{font-size:20px; font-weight:300; color:#fff; padding-left:80px; height:0; overflow:hidden; transition:.5s all;}
.pedWrap .section.sec05 .in .faqList ul li .answer span{transform:translate(100px,0); opacity:0; transition:.5s all; display: block; position: relative;}
.pedWrap .section.sec05 .in .faqList ul li.active .answer {height:65px; padding-top:40px;}
.pedWrap .section.sec05 .in .faqList ul li.active .plus em:nth-child(1) {transform:rotate(180deg);}
.pedWrap .section.sec05 .in .faqList ul li.active .plus em:nth-child(2) {transform:rotate(360deg);}
.pedWrap .section.sec05 .in .faqList ul li.active .answer span{transform:translate(0,0); opacity:1; transition-delay:500ms;}
.pedWrap .section.sec05.active .in .faqList ul { transform:translate(0,0); opacity:1;}

.plus {position: absolute; right:0; top:8px; width:27px; height:27px; z-index: 10;}
.plus em {position: absolute; left:0; top:0; z-index: 10; width:27px; height:2px; background: #fff;  transition:.5s all; transform-origin:center center}
.plus em:nth-child(1) {transform:rotate(90deg);}
.plus em:nth-child(2) {transform:rotate(180deg);}


.bgBack {position: fixed; left:0; top:0; width:250vh;  height:250vh;  background: #1B1B1B; opacity:0;transition:1s all; }

.pedLine {position: fixed; left:0; top:0; width: 100%; height:100vh;}
.pedLine .box {position: relative; width: 1194px; margin:0 auto;}
.pedLine .box:after {content:''; display: block; clear:both;}
.pedLine .box span {position: absolute; left:0; top:0; width:1px; height:0; background: #323232; transition:1s all; transition-delay:100ms;}
.pedLine .box span:nth-child(2){left:317px; transition-delay:300ms;}
.pedLine .box span:nth-child(3){right:0; left:auto; transition-delay:500ms;}

.motion.active .bgBack { opacity:1;}
.motion.active .pedLine .box span {height: 100vh;}

.cmmTopBtn{position: fixed; width: 40px; height: 40px; right: 40px; bottom: 90px !important; z-index: 30; border: 1px solid #fff !important; background: no-repeat center center url(../images/ico_arrowWhite.png) !important; opacity:0;  transform: translateY(80px); transition:1s all;}
.cmmTopBtn.active{transform: translateY(0) !important; opacity:1;}

#app {overflow:hidden;}
body.end { background: #1b1b1b; }
.footer {position: relative; z-index: 20; background: #1b1b1b; border-top:1px solid #323232;}
.header {z-index: 20;}




